.overlay .photo_container__open_button, 
.photo-focus__overlay .photo_container__open_button {
    height: 40px;
    width: 40px;
    padding: 5px;
    position: absolute;
    top: 15px;
    right: 70px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 20;
    opacity: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.overlay .photo_container__open_button:hover,
.photo-focus__overlay .photo_container__open_button:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.overlay:hover .photo_container__open_button, 
.overlay.logged-out .photo_container__open_button {
    opacity: 0.8;
    background-color: rgba(0,0,0,0.2);
}

.overlay .photo_container__open_button svg {
    opacity: 0.8;
}

/* Focused overlay */

.photo-focus__overlay .photo_container__open_button {
    padding: 8px;
    opacity: 1;
}

/* Anauthorized fix line */

.info-line {
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #007b70;
    font-family: "Nunito";
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    letter-spacing: 0.05em;
    cursor: default;
    opacity: .5;
    transition: all .3s;
}

.info-line:hover {
    opacity: 1;
}

.info-line-box {
    max-width: 1200px;
    min-height: 40px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Download link */

.download-a {
    border: 2px solid #fff;
    border-radius: 10em;
    display: inline-block;
    padding: 10px 15px;
    margin-left: 15px;
    text-decoration: none;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: all .2s ease-in;
}

.download-a:hover {
    background-color: #fff;
    color: #007b70;
}

/* Cavas image */

.canvas-blob {
    position: absolute;
    z-index: -1;
    width: auto;
    height: auto;
    max-width: 100vw;
    max-height: 100vh;
}